* {
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --primary-color: #7264d6;
    --color-text: #212832;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

button,
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

/* commit */

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    --height-btn: 52px;
    --width-btn: 113px;
    line-height: var(--height-btn);
    text-align: center;
    width: var(--width-btn);
    border-radius: 6px;
    background: var(--color-text);
    color: #fff;
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.9;
}

.main-title {
    --color: #696d77;
    display: flex;
    align-items: center;
    color: var(--color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-bottom: 12px;
}

.main-title::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: var(--color);
    margin-right: 12px;
}

.section-heading {
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.section-desc,
.section-desc--lv2 {
    color: #696d76;
    font-size: 1.8rem;
    line-height: 1.66;
}

.section-desc--lv2 {
    font-size: 1.6rem;
    line-height: 1.75;
}

.row {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
}

/* -------- Header --------- */

/* top */
.header {
    padding: 30px 0 80px;
}

.header-top {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.header-navbar__list {
    display: flex;
    align-items: center;
    margin-left: 46px;
}

.header-navbar__item {
    position: relative;
}

.header-navbar__link--active::after {
    content: "";
    position: absolute;
    width: calc(100% - 48px);
    height: 1px;
    border-radius: 0.5px;
    background: #7264d6;
    top: 27px;
    left: 24px;
}

.header-navbar__link {
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.75;
    padding: 5px 24px;
}

.header-navbar__link:not(.header-navbar__link--active):hover {
    color: #515050;
}

.header-navbar__link--active {
    color: var(--color-text);
    text-shadow: 0.5px 0.5px 0px var(--color-text);
}

.header__cta {
    margin-left: auto;
}

.header__log-in,
.header__sign-up {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}

.header__log-in {
    padding: 0 28px;
    color: var(--color-text);
}

/* Hero */

.header-hero {
    display: flex;
    align-items: center;
    margin-top: 64px;
}

.header-hero__content {
    max-width: 46%;
}

.header-hero__heading {
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16;
}

.header-hero__heading-central {
    color: var(--primary-color);
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16;
}

.header-hero__desc {
    margin-top: 20px;
}

.hero-form {
    display: flex;
    align-items: center;
    width: 100%;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
    margin-top: 40px;
}

.hero-form__input {
    height: 100%;
    width: 100%;
    padding-right: auto;
    outline: none;
    border: none;
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.75;
    margin: 0 23px;
}

.hero-form_submit {
    margin-right: 8px;
    background: var(--primary-color);
    border: none;
    flex-shrink: 0;
    height: 78%;
    cursor: pointer;
}

.header-hero__note {
    color: #696d76;
    font-family: Open Sans;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem; /* 171.429% */
    margin-top: 20px;
}

.hero-media {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 14px;
}

.hero-media__img-wrap {
    position: relative;
}

.hero-media__img {
    width: 296px;
}

/* label */

/* top */
.hero-label-left {
    position: absolute;
    display: flex;
    align-items: center;
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
    padding: 14px 10px;
    top: 113px;
    left: -100px;
}

.hero-label-left__desc {
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    margin-left: 8px;
}

.hero-label-left__amount {
    color: #4ab5e3;
    font-size: 1.4rem;
    line-height: 1;
    margin-left: 19px;
}

/* right */

.hero-label-right {
    position: absolute;
    display: flex;
    align-items: center;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
    padding: 20px 14px;
    bottom: 61px;
    right: -74px;
}

.hero-label__right__content {
    margin-left: 11px;
}

.hero-label-right__content-amount {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-label-right__content-desc {
    color: #fff;
    font-size: 0.8rem;
    line-height: 1;
    margin-top: 5px;
}

/* circle */

.hero-label-circle {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    background: #da6464;
    border-radius: 50%;
    right: -174px;
    top: 127px;
}

.hero-label-circle__percent {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-label-circle__desc {
    color: #fff;
    font-size: 1.6rem;
    line-height: normal;
}

/* -------- Work -------- */

.work {
    padding: 80px 0;
}

.work__inner {
}

.work-media {
    width: 470px;
}

.work-media__img-bg {
    position: relative;
    width: 100%;
    background-image: url(../img/work-img-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.work-media__img {
    width: 100%;
    padding: 0 7px;
}

.work-media__label-top {
    position: absolute;
    bottom: 479px;
    right: 62px;
}

.work-media__label-bot {
    position: absolute;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 15px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
    bottom: 96px;
    right: -100px;
}

.work-media-label__title {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: normal;
}

.work-media-label__desc {
    color: #696d76;
    font-size: 1.2rem;
    line-height: normal;
    margin-top: 5px;
}

.work-content {
    max-width: 470px;
}

.work-content__list {
    margin-top: 70px;
}

.work-content__item + .work-content__item {
    margin-top: 30px;
}

.work-content__item-heading {
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
}

.work-content__item-desc {
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.75;
    margin-top: 16px;
}

/* -------- Feature -------- */

.feature {
    padding: 80px 0;
}

/* content */
.feature-content {
    max-width: 470px;
}

.feature-content__heading {
}

.feature-content__desc {
    margin: 20px 0 28px;
}

.feature-content__item {
    display: flex;
    align-items: center;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.feature-content__item + .feature-content__item {
    margin-top: 18px;
}

.feature-content__item::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: var(--primary-color);
    border-radius: 50%;
    margin-right: 12px;
}

.feature-content__btn {
    --height-btn: 58px;
    --width-btn: 149px;
    margin-top: 38px;
}

/* media */

.feature-media {
    position: relative;
    margin-right: 88px;
    /* width: 482px; */
}

.feature-media__img {
    width: 482px;
}

.feature-label-top__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgb(218, 100, 100, 0.2);
    border-radius: 6px;
}

.feature-label-top__img::after {
    content: url(../icon/feature-plane-icon.svg);
}

.feature-label-top {
    display: flex;
    align-items: center;
    position: absolute;
    width: 276px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
    padding: 23px 13px;
    top: -48px;
    right: -88px;
}

.feature-label-top__text {
    margin-left: 14px;
}

.feature-label-top__text-title {
    color: #212832;
    font-family: "Inter", sans-serif;

    font-size: 1.2rem;
    font-weight: 500;
    line-height: normal;
}

.feature-label-top__text-desc {
    color: #696d76;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
}

.feature-label-top__qty {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.feature-label-top__qty-amount {
    color: #212832;
    text-align: right;
    font-family: Inter, sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    line-height: normal;
}

.feature-label-top__qty-time {
    color: #696d76;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    line-height: normal;
}

.feature-label-bot {
    position: absolute;
    width: 120px;
    border-radius: 16px;
    background: #439f90;
    padding: 15px;
    bottom: -55px;
    right: -88px;
}

.feature-label-bot__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background: #fff;
}

.feature-label-bot__img::after {
    content: url(../icon/feature-income-icon.svg);
}

.feature-label-bot__desc {
    color: #fff;
    font-size: 1.2rem;
    line-height: normal;
    margin-top: 14px;
}

.feature-label-bot__percent {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
    margin-top: 6px;
}

/* Feature-2 */

.feature-2__row {
    padding-top: 160px;
}

.feature-2-media {
    position: relative;
    display: flex;
    align-items: flex-end;
}
.feature-2-media__bg {
    position: relative;
}

.feature-2-media__bg::after {
    position: absolute;
    content: "";
    display: block;
    height: 300px;
    background: #92c2c2;
    bottom: 87px;
    left: 0;
    right: 0;
    transform: skewY(349deg);
    border-radius: 6px;
}

.feature-2-media__bg::before {
    position: absolute;
    content: "";
    display: block;
    height: 200px;
    background: #92c2c2;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 6px;
}

.feature-2-media__img {
    position: relative;
    display: block;
    width: 413px;
    margin: 0 28px;
    z-index: 1;
}

/* feature-2-label */

.feature-2-method {
    position: absolute;
    padding: 28px;
    background: #fff;
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
    border-radius: 8px;
    z-index: 1;
    right: -74px;
    bottom: 57px;
}

.feature-2-method__title {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.feature-2-method__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin-top: 20px;
}

.feature-2-method__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 48px;
    background: #f2f2fa;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.25s;
    animation: zoom 0.6s ease infinite alternate;
}

@keyframes zoom {
    to {
        scale: 1.05;
    }
}

.feature-2-method__item:hover {
    background: #f9ea63;
}

.feature-sticker {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #7264d6;
    right: -100px;
    bottom: 222px;
    z-index: 2;
}

/* -------- Testimonial --------  */

.testimonial {
    padding: 80px 0;
}

.testimonial__container {
    width: 1220px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    overflow: hidden;
}

.testimonial__main-title {
}

.testimonial__top {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.testimonial__desc {
    font-size: 1.6rem;
    text-align: center;
    max-width: 435px;
    line-height: 1.75;
    margin-top: 18px;
}

.testimonial-slide {
    display: flex;
    gap: 30px;
    margin-top: 70px;
    margin: 70px 25px 0;
}

.testimonial-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: filter 0.25s;
    width: 48.7%;
    flex-shrink: 0;
}

/* .testimonial-item:hover .testimonial-item__box {
    filter: drop-shadow(0px 22px 15px rgba(0, 0, 0, 0.07));
} */

.testimonial-item:has(.testimonial-item__bot:hover) .testimonial-item__box {
    filter: drop-shadow(0px 22px 15px rgba(0, 0, 0, 0.07));
}

.testimonial-item:has(.testimonial-item__bot:hover)
    .testimonial-item__box::after,
.testimonial-item:has(.testimonial-item__bot:hover) .testimonial-item__box {
    border-color: transparent;
}

.testimonial-item__box {
    position: relative;
    display: inline-block;
    padding: 42px 28px;
    background: #fff;
    border: 1px solid #dfe2e8;
    border-radius: 8px;
    transition: border-color 0.25s;
}

.testimonial-item__box::before,
.testimonial-item__box::after {
    position: absolute;
    content: "";
    display: inline-block;
    border: 50px solid;
    border-color: #fff transparent transparent transparent;
    left: 50%;
    top: calc(100% - 1px);
    translate: -50%;
}

.testimonial-item__box::after {
    border-color: #dfe2e8 transparent transparent transparent;
    top: 100%;
    translate: -50%;
    z-index: -1;
    transition: border-color 0.25s;
}

.testimonial-item__quote {
    color: #696d76;
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
}

.testimonial-item__bot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-item__avatar {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 104px;
    height: 104px;
    border-radius: 52px;
    margin-top: 110px;
    overflow: hidden;
    cursor: pointer;
}

.testimonial-item__avatar-img {
    width: 100%;
    border-radius: 50%;
    z-index: 1;
}

.testimonial-item__avatar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #4ab5e3;
    z-index: -1;
    border-radius: 52px;
}

.testimonial-item:nth-child(even) .testimonial-item__avatar::before {
    background: #439f90;
}

.testimonial-item__name {
    color: #070052;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
    margin-top: 20px;
    cursor: pointer;
}

.testimonial-item__job {
    color: #696d76;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.66;
    margin-top: 2px;
    cursor: pointer;
}

.testimonial__block-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 6px;
    margin-top: 38px;
}

.testimonial__block {
    display: inline-block;
    width: 22px;
    height: 6px;
    border: 1px solid #9b9fab;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.25s, border-color 0.25s;
}

.testimonial__block--active {
    background: #7264d6;
    border-color: #7264d6;
}

/* ------- Blog -------- */

.blog {
    padding: 80px 0;
}

.blog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-header__desc {
    max-width: 435px;
    margin-top: 18px;
}

.blog-header__btn {
    --width-btn: 123px;
    --height-btn: 58px;
}

/* blog item */

.blog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 70px;
}

.blog-item {
    background: #fff;
    padding: 28px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #dfe2e8;
    transition: box-shadow 0.25s, border-color 0.25s;
}

.blog-item:hover {
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
    border-color: transparent;
}

.blog-item__img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
    flex-shrink: 0;
}

.blog-item__body-wrap {
    margin-left: 22px;
}

.blog-item__time {
    color: #696d76;
    font-size: 1.4rem;
    line-height: 1.71;
}

.blog-item__desc {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    margin-top: 10px;
}

.blog-item__more {
    display: inline-block;
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.62;
    margin-top: 20px;
}

.blog-item__more:hover {
    color: #7264d6;
}

/* -------- App -------- */

.app {
    margin-top: 80px;
}

.app__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #7264d6;
    align-items: center;
    border-radius: 24px;
    padding: 100px 0;
}

.app__main-title {
    --color: #fff;
}

.app__desc {
    max-width: 435px;
    color: #fff;
    text-align: center;
    margin-top: 18px;
}

.app__heading {
    color: #fff;
}

.app__cta {
    display: flex;
    gap: 16px;
    margin-top: 38px;
}

.app__decor-tl {
    position: absolute;
    top: 49px;
    left: 112px;
}

.app__decor-tr {
    position: absolute;
    top: 49px;
    right: 112px;
}

.app__decor-bl {
    position: absolute;
    bottom: 49px;
    left: 166px;
}

.app__decor-br {
    position: absolute;
    bottom: 49px;
    right: 166px;
}

/* ---------- Footer ---------- */

.footer {
    padding: 100px 0 0;
    margin-top: 100px;
    background: #fafbff;
}

.footer__row {
    display: flex;
    justify-content: space-between;
}

.footer-column__title,
.form__title {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    margin-bottom: 14px;
}

.footer-column__link,
.footer-column__address {
    color: #6a6e78;
    font-size: 1.8rem;
    line-height: 1.66;
}

.footer-column__link {
    padding: 10px 0;
}

.footer-column__link:hover {
    text-decoration: underline;
}

.footer-column__item + .footer-column__item {
    margin-top: 12px;
}

.footer-column__address {
    max-width: 371px;
    margin: 10px 0 48px;
}

.form__title {
    color: #0a142f;
    margin-bottom: 24px;
}

.footer__form {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__form-input {
    width: 270px;
    height: 52px;
    border-radius: 6px;
    border: 1px solid #8e919a;
    outline: none;
    background: transparent;
    padding: 0 12px;
}

.footer__form-input::placeholder,
.footer__form-input {
    color: #8e919a;
    font-size: 1.6rem;
    line-height: 1.75;
}

.footer__form-btn {
    padding: 0;
    --width-btn: 113px;
    --height-btn: 52px;
    border-radius: 6px;
    background: #7264d6;
    border: none;
    cursor: pointer;
}

.footer__contact-info {
    color: #6a6e78;
    font-size: 1.8rem;
    line-height: 1.66;
    text-decoration-line: underline;
}

.footer__contact {
    margin: 70px 0 28px;
}

.footer__contact-info + .footer__contact-info {
    margin-left: 100px;
}

.footer__copyright {
    background: #7264d6;
    padding: 28px 0;
}

.footer__copyright-text {
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.75;
}
